.treeParent {
  height: 100%;
}
.tree {
  max-height: calc(100% - 73px);
  height: calc(100% - 73px);
  overflow-y: auto;
}

.buttons {
  height: 35px;
  width: 100%;

  .btnAdd {
    padding: 8px;
    .conn {
      width: 23px;
      height: 23px;
      position: relative;
      z-index: 99;
      background-image: url('/resources/icons/addconn.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 23px;
      flex-shrink: 0;
    }
  }
}
